// common reference colors

/* flat UI colors */
$turquoise: rgba(26,188,156,1);
$emerland: rgba(46,204,113,1);
$peterriver: rgba(52,152,219,1);
$amethyst: rgba(155,89,182,1);
$wetasphalt: rgba(52,73,94,1);
$greensea: rgba(22,160,133,1);
$nephritis: rgba(39,174,96,1);
$belizehole: rgba(41,128,185,1);
$wisteria: rgba(142,68,173,1);
$midnightblue: rgba(44,62,80,1);
$sunflower: rgba(241,196,15,1);
$carrot: rgba(230,126,34,1);
$alizarin: rgba(231,76,60,1);
$clouds: rgba(236,240,241,1);
$concrete: rgba(149,165,166,1);
$orange: rgba(243,156,18,1);
$pumpkin: rgba(211,84,0,1);
$pomegranate: rgba(192,57,43,1);
$silver: rgba(189,195,199,1);
$asbestos: rgba(127,140,141,1);


/*------------------------------------*\
    $BASE
\*------------------------------------*/

$base-font-size:    16px;
$base-line-height:  24px;

/**
 * Base font-family. 
 */

$base-font-family:    'Merriweather', serif;
$brand-face:          'Butterfly Kids', cursive;
$headings-face:       'Varela Round', sans-serif;

/*------------------------------------*\
    $BRAND
\*------------------------------------*/

$brand-color:           rgba(241, 161, 63, 1);
$brand-color-dark:      shade($brand-color, 20%);
$brand-color-light:     tint($brand-color, 95%);

/**
 * How big would you like round corners to be by default?
 */
// $brand-round:        4px!default;

/*------------------------------------*\
    $COLOR SCHEME
\*------------------------------------*/

// Primary color set body text
$primary-color:             rgba(100,100,100,1); 
$base-ui-color:             $primary-color;           


$secondary-color:           #e9e9e9 !default;       // Very light gray.
$alert-color:               #c60f13 !default;       // Strong red.
$success-color:             #5da423 !default;       // Dark green.


$light-heading-color:       rgba(255, 255, 255, 0.97);    // White

$link-light:                #ffffff;

$light-gray:                #eee;                   // Light gray


$topbar-bg:                 rgba(255,255,255, 0.97);


$page-foot-color:           rgba(126, 166, 74, 1);
$page-foot-color-light:     rgba(195, 216, 158, 1);

// when dark backgrounds
$alt-color:                 rgba(255,255,255, 1);
$alt-link-color:            tint(rgba($page-foot-color-light, 1), 20%);

