

.brand {
  @include      font-size($kilo-size);
  color:        $brand-color;
  line-height:  1.5;
  font-family:  $brand-face;
  @include media-query(lap-and-up) {
    @include      font-size($giga-size, false);
  }
}

.brand--banner {
}


.logo {
  position:    relative;
  width:       30%;
  left:        -33px;
  @include media-query(desk) {
    top:           4em;
    //left:          -px;
    width:         100%;
  }
}