

.brand {
  @include      font-size($kilo-size);
  color:        $brand-color;
  line-height:  1.5;
  font-family:  $brand-face;
  @include media-query(lap-and-up) {
    @include      font-size($giga-size, false);
  }
}

.brand--banner {
}