

.brand {
  line-height:  1.5;
  font-family:  $brand-face;
  color:        $brand-color;
}

.brand--banner {
  font-weight: bold;
  @include      font-size($kilo-size);
  line-height: 1.4;
  @include media-query(lap-and-up) {
    @include      font-size($giga-size, false);
    line-height: 0.9;
    font-weight: normal;
  }
  &:hover,
  &:active,
  &:focus{
    border-bottom:    none;
  }
}


.logo {
  position:    relative;
  width:       30%;
  left:        -33px;
  @include media-query(desk) {
    top:           4em;
    //left:          -px;
    width:         100%;
  }
}

.cta {
  padding-top:          2em;
  padding-bottom:       3em;
  padding-right:        3000px;
  margin-right:         -3000px;
  padding-left:         3000px;
  margin-left:          -3000px;
  margin-top:           2em;
  margin-bottom:        2em;
  background-color:     $secondary-color;
  color:                white;
  h2 {
    color:              $alt-color;
  }
}