@charset "UTF-8";


// take care of margins off the bottom of islands
 
.island > *:last-child,
.island > *:last-child > *:last-child,
.island > *:last-child > *:last-child > *:last-child
.islet > *:last-child,
.islet > *:last-child > *:last-child,
.islet > *:last-child > *:last-child > *:last-child {
  margin: 0;
}

.island--cta {
  padding-right:        3000px;
  margin-right:         -3000px;
  padding-left:         3000px;
  margin-left:          -3000px;
  margin-top:           2em;
  margin-bottom:        2em;
  background-color:     $secondary-color;
  color:                white;
  h3 {
    color:              $alt-color;
  }
}
// .island--cta:before {
//   width:   1000px;
//   overflow:   hidden;
//     background-color: $secondary-color;
//     content:  "";
//     display: block;
//     height: 40px;
// }