
// all navigation styles here

.nav {

  a {
    color:              $primary-color;
  }
  .active {
    a {
      border-bottom:    3px solid rgba(126,166,74,1);
      //font-weight:      bold;
    }
  }
  
}

.nav--banner {
  text-transform: uppercase;
  li {
    margin: 0 2em 0 0;
  }
  li:last-child {
    margin: 0;
  }
}

