
// all navigation styles here

.nav {

  a {
    color:              $primary-color;
    border-bottom:    3px solid white;
  }
  a:hover,
  a:active,
  a:focus {
    border-bottom:    3px solid rgba($brand-color,1);
  }
  .active {
    a {
      border-bottom:    3px solid rgba($brand-color,1);
      //font-weight:      bold;
    }
  }
  
}

.nav--banner {
  letter-spacing: -1px;
  text-transform: uppercase;
  li {
    margin: 0 0.2em 0 0;
    @include media-query(lap-and-up) {
      margin: 0 4em 0 0;
    }
  }
  li:last-child {
    margin: 0;
  }
}

