
.footer {

  h3, h4, h5, h6 {
    color:          $alt-color;
  }
  ul {
    list-style-type: none;
    margin-left:     0;
    padding-left:    0;
  }

}


.footer--page {
  color:          $alt-color;
  h6 {
    text-transform: uppercase;
    margin:         1em 0 0 0;
  }
}

.footer--page--light {
  padding-top:      3em;
  padding-bottom:   1em;
  background-color: $page-foot-color-light;
  a {
    color:          $alt-color;
  }
  .widget {
    font-family:      $headings-face;
    text-transform:   uppercase;
    @include          font-size(16px);
    line-height:      2;
  }
  .widget li:first-child {
    @include          font-size(18px);
    line-height:      2;
  }
  @include media-query(lap-and-up) {
    .widget {
      float:  left;
      padding-right: 27%;
    }
    .widget:last-child {
      padding-right: 0;
    }
  }
  @include media-query(desk) {
    .widget {
      padding-right: 12%;
    }
  }
  @include media-query(desk-wide){
    .widget {
      padding-right: 20%;
    }
  }
}
.footer--page--dark {
  padding:          2em 0 3em 0;
  background-color: $page-foot-color;
  a {
    color:          $alt-link-color;
  }
}

