@charset "UTF-8";



/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html{
    // font-family:Ubuntu, sans-serif;
    // font-weight:300;
    // background-color:#f9f9f9;
    // color:#444;
}

/**
 * 1. Base unit plus the 10px taken up by `.strip`.
 */
body{

  @include media-query(lap-and-up){
    @include font-size(18px);
  }
  @include media-query(desk){
    @include font-size(20px);
  }
  
}

/**
 * Page-level wrapper.
 */
.wrapper{
    max-width:                 1060px;
    margin-right:              auto;
    margin-left:               auto;
    padding-right:             $base-spacing-unit;
    padding-left:              $base-spacing-unit;


    
    // @include media-query(portable){
    //     padding-right:         $half-spacing-unit;
    //     padding-left:          $half-spacing-unit;
    //     max-width:             640px;
    // }
}


.browser-notice {
    padding:      4em;
} 