

/* Flexible Media */


img, video, object {
  max-width: 100%;
  height: auto;
}


svg, .svg {
  max-width: 100%;
  height: 100%;
}


iframe {
  margin-bottom: $base-spacing-unit;
}

figure {
  margin-bottom: $base-spacing-unit;
  img {
    margin-bottom: $half-spacing-unit;
  }
}
figcaption {
  font-style: italic;
}